.header{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-grey-dark-3);

    &__top-nav{
        min-width: 60rem;
        background-color: var(--color-grey-dark-1);

        & .menu-list{
            
            list-style:none;
            display: flex;
            flex-direction: row;
            justify-content:center;
            margin-right: -80rem;

            &__menu-item{
                
                color: white;
                padding: 1rem 2rem;

                &--menu-link{
                    text-decoration: none;
                }
            }
        }
    }

    &__bot-nav{
        background-color: var(--color-white);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1.5rem;
        align-items: baseline;

        &__logo-box{
            display: block;
            padding: .5rem;
            height: 2.5rem;
            width: 3rem;
            text-decoration: none;

            &--logo{
                width: 5rem;
                height: 3rem;
                display: flex;
                justify-content: space-between;

                & h1{
                    color: white;
                    text-decoration: none;
                }

                & p{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & span{
                        padding: 1rem;
                        margin-right: .4rem;
                        
                    }
                }
            }
        }

        & .menu-list{
            font-weight: 700;
            list-style: none;
            display: inline-flex;
            margin-left: 9rem;
            color: var(--color-grey-light-1);

            &__menu-item{
                display: inline-block;
                padding: .8rem 1rem .8rem 1rem;
                transition: all .2s;
                color: var(--color-grey-light-1);

                &--menu-link{
                    &:link,
                    &:visited {
                        text-decoration: none;
                        display: inline-block;
                        text-transform: uppercase;
                    }
            
                    &:hover,
                    &:active {
                        color: blue;
                        border-bottom: 1px solid orangered;
                        transform: translateY(-2px);
                    }
                }
                &--menu-btn{
                    background-color: var(--color-primary);

                    padding: 2rem 2rem;
                    border-radius: 5px;
                    
                    text-align: center;
                    text-decoration: none;
                    box-shadow: 0 1rem 3rem rgba(#000, .1);

                    &:hover,
                    &:active {
                        color: blue;
                        background-color: var(--color-primary-light);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}