:root {
  --color-primary: #1473E6;
  --color-primary-light: #09BEFD;
  --color-primary-dark: #0931FD;
  --color-secondary-light: #3EB301;
  --color-secondary-dark: #3A9908;
  --color-tertiary: #EA662F;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
  --color-black: #000;
  --color-white: #fff;
  --default-font-size: 1.5rem;
  --shadow-dark: 0 2rem 6rem rgba(--color-black, .3);
  --shadow-light: 0 2rem 5rem rgba(--color-black, .06); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: --color-primary;
  color: --color-white; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: var(--color-grey-dark-1); }

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #09BEFD, #0931FD);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: var(--default-font-size);
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: var(--default-font-size); }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.home-loads-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: white; }
  .home-loads-table__thead {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.header {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-grey-dark-3); }
  .header__top-nav {
    min-width: 60rem;
    background-color: var(--color-grey-dark-1); }
    .header__top-nav .menu-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: -80rem; }
      .header__top-nav .menu-list__menu-item {
        color: white;
        padding: 1rem 2rem; }
        .header__top-nav .menu-list__menu-item--menu-link {
          text-decoration: none; }
  .header__bot-nav {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
    align-items: baseline; }
    .header__bot-nav__logo-box {
      display: block;
      padding: .5rem;
      height: 2.5rem;
      width: 3rem;
      text-decoration: none; }
      .header__bot-nav__logo-box--logo {
        width: 5rem;
        height: 3rem;
        display: flex;
        justify-content: space-between; }
        .header__bot-nav__logo-box--logo h1 {
          color: white;
          text-decoration: none; }
        .header__bot-nav__logo-box--logo p {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .header__bot-nav__logo-box--logo p span {
            padding: 1rem;
            margin-right: .4rem; }
    .header__bot-nav .menu-list {
      font-weight: 700;
      list-style: none;
      display: inline-flex;
      margin-left: 9rem;
      color: var(--color-grey-light-1); }
      .header__bot-nav .menu-list__menu-item {
        display: inline-block;
        padding: .8rem 1rem .8rem 1rem;
        transition: all .2s;
        color: var(--color-grey-light-1); }
        .header__bot-nav .menu-list__menu-item--menu-link:link, .header__bot-nav .menu-list__menu-item--menu-link:visited {
          text-decoration: none;
          display: inline-block;
          text-transform: uppercase; }
        .header__bot-nav .menu-list__menu-item--menu-link:hover, .header__bot-nav .menu-list__menu-item--menu-link:active {
          color: blue;
          border-bottom: 1px solid orangered;
          transform: translateY(-2px); }
        .header__bot-nav .menu-list__menu-item--menu-btn {
          background-color: var(--color-primary);
          padding: 2rem 2rem;
          border-radius: 5px;
          text-align: center;
          text-decoration: none;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
          .header__bot-nav .menu-list__menu-item--menu-btn:hover, .header__bot-nav .menu-list__menu-item--menu-btn:active {
            color: blue;
            background-color: var(--color-primary-light);
            transform: scale(1.1); }

.home-hero {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(9, 190, 253, 0.8), rgba(9, 49, 253, 0.8)), url("/img/snowmountain-truck.jpg");
  padding: 8rem 0;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-content: center;
  flex-direction: column; }
  .home-hero h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    margin: 0 auto; }
