:root {
  --color-primary: #1473E6;
  --color-primary-light: #09BEFD;
  --color-primary-dark: #0931FD;
  --color-secondary-light: #3EB301;
  --color-secondary-dark: #3A9908;
  --color-tertiary: #EA662F;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
  --color-black: #000;
  --color-white: #fff;
  --default-font-size: 1.6rem;
  --shadow-dark: 0 2rem 6rem rgba(--color-black, .3);
  --shadow-light: 0 2rem 5rem rgba(--color-black, .06); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: --color-primary;
  color: --color-white; }

body {
  min-width: 130rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: --color-grey-dark-1; }

.header {
  font-size: 1.4rem; }
  .header__top-nav {
    min-width: 60rem;
    background-color: var(--color-grey-dark-1); }
    .header__top-nav .menu-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .header__top-nav .menu-list__menu-item {
        color: white;
        padding: .8rem 1rem .8rem 1rem; }
        .header__top-nav .menu-list__menu-item--menu-link {
          text-decoration: none; }
  .header__bot-nav {
    background-color: var(--color-grey-light-1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
    align-items: baseline; }
    .header__bot-nav__logo-box {
      display: block;
      padding: .5rem;
      height: 2.5rem;
      width: 3rem;
      text-decoration: none; }
      .header__bot-nav__logo-box--logo {
        width: 5rem;
        height: 3rem;
        display: flex;
        justify-content: space-between; }
        .header__bot-nav__logo-box--logo h1 {
          color: white;
          text-decoration: none; }
        .header__bot-nav__logo-box--logo p {
          display: flex;
          flex-direction: row;
          justify-content: center; }
          .header__bot-nav__logo-box--logo p span {
            margin-right: .4rem;
            color: white; }
    .header__bot-nav .menu-list {
      list-style: none;
      display: inline-flex;
      margin-left: 3rem; }
      .header__bot-nav .menu-list__menu-item {
        display: inline-block;
        padding: .8rem 1rem .8rem 1rem; }
        .header__bot-nav .menu-list__menu-item--menu-link {
          text-decoration: none; }
        .header__bot-nav .menu-list__menu-item--menu-btn {
          background-color: var(--color-primary);
          padding: 1rem 2rem;
          border-radius: 5px;
          color: var(--color-grey-light-1);
          text-align: center;
          text-decoration: none; }
