<% include ../partials/header/header %>

<!-- for the hero -->
<section class="home-hero">

    <h1 class="heading-primary text-center">Load Board to Find Truck Loads and Freight
    </h1>
<!-- for the load table -->
    <div class="home-loads-table">
        <!-- table head -->
        <div class="home-loads-table__thead">
            <p class="home-loads-table__thead--left">Last Available Loads</p>
            <p class="home-loads-table__thead--right">View All Available Truck Loads</p>
        </div>
        <!-- table body -->
        <div class="home-loads-table__tbody">
            <p>The body of the table will go here</p>
        </div>
    </div>
<!-- for the cta -->
    <div>
        <a href="" class="btn cta green">Find More Loads</a>
    </div>

</section>

<% include ../partials/footer/footer %>