.home-loads-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: white;

    &__thead{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}