<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
    <title>Authorize Mover</title>
</head>
<body>
   
    <!-- header -->
    <header class="header main-header">
            <!-- top nav -->
        <div class="row main-header__top-nav">
            <!-- only a ul -->
            <ul class="menu-list">
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">FAQs</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">Resources</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">Blog</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">My Account</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">Sign In</a></li>
            </ul>
        </div>
        <!-- bot nav -->
        <div class="row main-header__bot-nav">
            <!-- for the logo -->
            <div class="header__logo-box">
                <a href="" class="header__logo-box--logo">
                    <span>Authorize Movers</span>
                    <span>Post   |   Load   |   Move</span>
                </a>
            </div>
            <!-- for the menu -->
            <ul class="menu-list">
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">Find Load</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">Post Load</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">How it Works</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">Pricing</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-link">About</a></li>
                <li class="menu-list__menu-item"><a href="" class="menu-list__menu-item--menu-btn">Sign up for 10 days free</a></li>
            </ul>
        </div>
    </header>
 